<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= project.title %></h2>
    <p>Description: <%= project.description %></p>
    <p>Date: <%= project.date %></p>
    <p>Location: <%= project.location %></p>
    <p>Partner Organization: <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></p>

    <h3>Categories</h3>
    <ul>
        <% categories.forEach((category) => { %>
            <li><a href="/category/<%= category.category_id %>"><%= category.name %></a></li>
        <% }) %>
    </ul>

    <% if (user && user.role_name === 'admin') { %>
<p><a href="/edit-project/<%= project.project_id %>">Edit Project</a> | <a href="/assign-categories/<%= project.project_id %>">Edit Categories</a></p>
    <% } %>

</main>
<%- include('partials/footer') %>